// @include mq(tablet) {
//   html {
//     font-size: 9px;
//   }
// }

// @include mq(mobile) {
//   html {
//     font-size: 8px;
//   }
// }
// @media (max-width: 768px) {
//   html,
//   body {
//     font-size: 9px;
//   }
// }
// @media (max-width: 375px) {
//   html,
//   body {
//     font-size: 8px;
//   }
// }
