@font-face {
  src: url('../font/NotoSans-Light.woff2') format('woff2'),
  url('../font/NotoSans-Light.woff') format('woff');
  font-family: 'Noto';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url('../font/NotoSans-Regular.woff2') format('woff2'),
  url('../font/NotoSans-Regular.woff') format('woff');
  font-family: 'Noto';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('../font/NotoSans-Medium.woff2') format('woff2'),
  url('../font/NotoSans-Medium.woff') format('woff');
  font-family: 'Noto';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('../font/NotoSans-Bold.woff2') format('woff2'),
  url('../font/NotoSans-Bold.woff') format('woff');
  font-family: 'Noto';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('../font/Roboto-Light.woff2') format('woff2'),
  url('../font/Roboto-Light.woff') format('woff');
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url('../font/Roboto-Regular.woff2') format('woff2'),
  url('../font/Roboto-Regular.woff') format('woff');
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('../font/Roboto-Medium.woff2') format('woff2'),
  url('../font/Roboto-Medium.woff') format('woff');
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('../font/Roboto-Bold.woff2') format('woff2'),
  url('../font/Roboto-Bold.woff') format('woff');
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
}
