@charset "UTF-8";

/*-------------------------------------------------------------------
	@Resets
-------------------------------------------------------------------*/
html,body,div,ul,ol,dl,li,dt,dd,p,h1,h2,h3,h4,h5,h6,table,thead,tbody,tr,th,td,caption,address,article,aside,canvas,details,figure,figcaption,main,footer,header,menu,nav,section,button,form,select,textarea,input,fieldset,legend,label,a,span,strong,em,address,dfn,xmp,small,i,b {
	margin: 0;
	padding: 0;
	border: 0;
	letter-spacing: inherit;
	list-style: none;
	font-style: normal;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	color: inherit;
	line-height: inherit;
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-o-box-sizing: inherit;
	-webkit-print-color-adjust: exact;
	color-adjust: exact !important;
}

:before, :after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-o-box-sizing: inherit;
}
html {
	font-size: 1px;
}
body {
	color: #444;
	font-family: "KoPub Dotum", "sans-serif";
	font-size: 14rem;
	line-height: 1.4;
	letter-spacing: -0.02em;
	word-break: break-all;
	word-wrap: break-word;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

img {
	max-width: 100%;
}

[role="button"] {
	cursor: pointer;
}

/*-------------------------------------------------------------------
	@Layout
-------------------------------------------------------------------*/
/* Variables */
:root {
	--spacer-side: 30rem;
	--max-inner: 1475px;
}

/* Page */
html, body {
	height: 100%;
}

.inner {
	width: 100%;
	max-width: calc(var(--max-inner) + (var(--spacer-side) * 2));
	padding-left: var(--spacer-side);
	padding-right: var(--spacer-side);
	margin: auto;
}
.wrapper {
	position: relative;
	z-index: 10;
	min-height: 100%;
	padding-top: 25rem;
	padding-bottom: 70rem;
	background: linear-gradient(to bottom, #e3eeff, #f3e7e9);
}

.footer {
	margin-top: 200rem;
	text-align: center;
}
/*-------------------------------------------------------------------
	@Components
-------------------------------------------------------------------*/
/* 공통 */
.table-wrap {
	overflow-x: auto;
}
.table-wrap table {
	table-layout: fixed;
	width: 100%;
	min-width: calc(767px - (var(--spacer-side) * 2));
	border-collapse: collapse;
}
.table-wrap table th,
.table-wrap table td {
	padding: 27rem 15rem;
	font-weight: 400;
	font-size: 32rem;
	line-height: 40rem;
	text-align: left;
	border-bottom: 2rem solid #000;
}
.table-wrap table th {
	border-top: 2rem solid #000;
}
.table-wrap table td {
	border-bottom: 1rem solid #000;
}
/*-------------------------------------------------------------------
	@Contents
-------------------------------------------------------------------*/


.header {
	display: flex;
	align-items: center; /* 수직 정렬 */
	justify-content: space-between; /* 좌우 배치 */
	padding: 0 2rem; /* 양쪽 여백 추가 */
}

.header .logo {
	width: 200rem;
	height: 60rem;
	display: flex;
	align-items: center; /* 내부 아이템 정렬 */
}

.header a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 14rem; /* 원래 단위 수정 */
	height: 60rem; /* 원래 단위 수정 */
	margin: 0;
	padding: 0 22rem; /* 원래 단위 수정 */
	border-radius: 10rem; /* 원래 단위 수정 */
	background-color: #0077DD;
	font-size: 22rem; /* 원래 단위 수정 */
	line-height: 1.5;
	/*font-weight: 600;*/
	color: #fff;
	letter-spacing: 1rem; /* 원래 단위 수정 */
	word-break: keep-all;
	text-decoration: none;
	text-align: center;
	box-shadow: 5rem 5rem 8rem 0 rgba(0, 0, 0, 0.5);
}

.header a:hover {
	background-color: #0754b4;
}

.header .ajou-home img {
	width: 80rem;
}

.header h1 {
	margin-top: 54rem;
	font-size: 60rem;
	line-height: 72rem;
	color: #000;
	font-weight: 600;
	word-break: keep-all;
	text-align: center;
}
.header h1 span {
	display: inline-block;
}

/* s: 개최지역 안내 */
.map-sec .map-wrap {
	position: relative;
	margin-top: 25px;
	margin-left: calc(var(--spacer-side) * -1);
	margin-right: calc(var(--spacer-side) * -1);
	text-align: center;
}

.map-sec .sec-header h2 {
	margin-top: 40rem;
	font-weight: 600;
	font-size: 55rem;
	line-height: 72rem;
	color: #000;
	text-align: left;
}
.map-sec .sec-header h2 img {
	width: 50rem;
	margin-right: 30rem;
	vertical-align: middle;
}

.map-sec .map-wrap .map {
	position: relative;
	background-image: url('../../assets/img/delight.png');
	background-size: 180rem;
	background-position: left 220rem bottom;
	background-repeat: no-repeat;
}

.map-sec .map-wrap .map img {
	width: 75%;
}
.map-sec .map-wrap .map-box {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 300px;
	height: 330px;
	padding: 10px 0px 25px 0px;
	background-color: #fff;
	text-align: center;
	border-radius: 25px;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.8); /* 배경만 투명 */
}
.map-sec .map-wrap .map-box .num {
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	color: #356665;
}
.map-sec .map-wrap .map-box .city {
	margin-top: 8px;
	font-weight: 600;
	font-size: 45px;
	line-height: 50px;
	color: #1f3d3c;
}
.map-sec .map-wrap .map-box .date {
	margin-top: 10px;
	font-weight: 300;
	font-size: 34px;
	line-height: 44px;
	color: #000;
}
.map-sec .map-wrap .map-box .name {
	margin-top: 8px;
	font-weight: 400;
	font-size: 42px;
	line-height: 44px;
	letter-spacing: -1.6px;
	color: #000;
}
.map-sec .map-wrap .map-box .btn {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.map-sec .map-wrap .map-box .btn a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 65px;
	/*font-weight: 600;*/
	font-size: 34px;
	line-height: 44px;
	color: #fff;
	border-radius: 12px;
	background-color: #0077DD;
	text-decoration: none;
	letter-spacing: -1.6px;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.35);
}

.map-sec .map-wrap .map-box .btn a:hover {
	background-color: #0754b4;
}

.map-sec .map-wrap .map-box.type-01 {
	top: 40rem;
	left: 190rem;
}
.map-sec .map-wrap .map-box.type-02 {
	top: 10rem;
	left: 755rem;
}
.map-sec .map-wrap .map-box.type-03 {
	top: 568rem;
	left: 1063rem;
}
.map-sec .map-wrap .map-box.type-04 {
	top: 720rem;
	left: 567rem;
}
.map-sec .map-wrap .map-box.type-05 {
	top: 390rem;
	left: 190rem;
}
.map-sec .map-wrap .map-box.type-06 {
	top: 222rem;
	left: 1063rem;
}
.map-sec .table-wrap {
	margin-top: 135rem;
}
.map-sec .table-wrap table th {
	/*border-top:0;*/
}
.map-sec .table-wrap table td ul {
	padding: 10rem 0;
}
.map-sec .table-wrap table td ul li {
	display: flex;
	font-size: 30rem;
	line-height: 40rem;
}
.map-sec .table-wrap table td ul li strong {
	display: block;
	text-align: left;
	font-weight: 600;
	width: 10%;
}

.map-sec .table-wrap table td ul li span {
	flex: 1 1 auto;
	display: block;
	padding-left: 20rem;
	text-align: left;
	font-weight: 300;
	width: 57%;
}

.map-sec .table-wrap table td ul span {
	flex: 1 1 auto;
	display: block;
	font-size:21rem;
	padding-left:67rem;
	letter-spacing:-0.8rem;
	text-align: left;
	font-weight: 300;
	width: 95%;
}

/*font-size:22rem;padding-left:67rem;letter-spacing:-0.8rem;*/

.map-sec .table-wrap table td ul li + li {
	margin-top: 20rem;
}
/* e: 개최지역 안내 */

/* s: 고교 연계 프로그램 */
.program-sec {
	overflow: hidden;
	margin-top: 145rem;
}
.program-sec .sec-header h2 {
	font-weight: 600;
	font-size: 55rem;
	line-height: 72rem;
	color: #000;
	text-align: left;
}
.program-sec .sec-header h2 img {
	width: 50rem;
	margin-right: 30rem;
	vertical-align: middle;
}
.program-sec .sec-body {
	margin-top: 40rem;
}
.program-sec .program-list {
	display: flex;
}
.program-sec .program-slide .swiper-wrapper {
	justify-content: space-around;
}
.program-sec .program-slide .swiper-slide {
	width: 358rem;
	box-sizing: border-box;
	/* padding: 0 7rem; */
}
.program-sec .program-item {
	display: block;
	position: relative;
	width: 358rem;
	height: 417rem;
	padding: 105rem 40rem 40rem 30rem;
	background: url('../img/bg-program.png') no-repeat 0 0 / contain;
	color: #000;
}
.program-sec .program-item .program-label {
	position: absolute;
	right: 37rem;
	top: 0;
	width: 97rem;
	height: 89rem;
	font-size: 23rem;
	line-height: 66rem;
	text-align: center;
	font-weight: 600;
}
.program-sec .program-item .program-con .tit {
	font-size: 36rem;
	line-height: 40rem;
	font-weight: 600;
}
.program-sec .program-item .program-con .txt {
	margin-top: 10rem;
	font-size: 30rem;
	line-height: 36rem;
	font-weight: 400;
}

.program-sec .program-item .program-con .btn {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.program-sec .program-item .program-con .btn a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 75px;
	/*font-weight: 600;*/
	font-size: 30px;
	line-height: 44px;
	color: #fff;
	border-radius: 12px;
	background-color: #0077DD;
	text-decoration: none;
	letter-spacing: -1.6px;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.35);
}

.program-sec .program-item .program-con .btn a:hover {
	background-color: #0754b4;
}

/* e: 고교 연계 프로그램 */

/* s: 지역 박람회 */
.exposition-sec {
	margin-top: 145rem;
}
.exposition-sec .sec-header h2 {
	font-weight: 600;
	font-size: 55rem;
	line-height: 72rem;
	color: #000;
	text-align: left;
}
.exposition-sec .sec-header h2 img {
	width: 50rem;
	margin-right: 30rem;
	vertical-align: middle;
}
.exposition-sec .sec-body {
	margin-top: 10rem;
}

.exposition-sec .sec-info {
	width:100%;
	text-align:right;
	font-size: 25rem;
}

.exposition-sec .table-wrap .table th,
.exposition-sec .table-wrap .table td {
	padding: 15rem 15rem;
}
.exposition-sec .table-wrap .table td {
	font-size: 24rem;
	line-height: 30rem;
}
/* e: 지역 박람회 */

@media all and (max-width: 1535px) and (min-width:768px) {

	.header .logo {
		width: calc(100vw * (200 / 1535));
		height: calc(100vw * (60 / 1535));
	}

	.header .ajou-home {
		gap: calc(100vw * (14 / 1535));
		height: calc(100vw * (60 / 1535));
		padding: 0 calc(100vw * (22 / 1535));
		border-radius: calc(100vw * (10 / 1535));
		font-size: calc(100vw * (22 / 1535));
		letter-spacing: calc(100vw * (0.5 / 1535));
		box-shadow: calc(100vw * (5 / 1535)) calc(100vw * (5 / 1535)) calc(100vw * (8 / 1535)) 0 rgba(0, 0, 0, 0.5);
	}
	.header .ajou-home img {
		width: calc(100vw * (80 / 1535));
	}
	.header h1 {
		margin-top: calc(100vw * (94 / 1535));
		font-size: calc(100vw * (60 / 1535));
		line-height: calc(100vw * (72 / 1535));
	}

	.map-sec .table-wrap {
		margin-top: calc(100vw * (135 / 1535));
	}

	.map-sec .sec-header h2 {
		font-size: calc(100vw * (55 / 1535));
		line-height: calc(100vw * (72 / 1535));
	}
	.map-sec .sec-header h2 img {
		width: calc(100vw * (50 / 1535));
		margin-right: calc(100vw * (30 / 1535));
	}

	.table-wrap table th,
	.table-wrap table td {
		padding: calc(100vw * (27 / 1535)) calc(100vw * (15 / 1535));
		font-weight: 400;
		font-size: calc(100vw * (32 / 1535));
		line-height: calc(100vw * (40 / 1535));
	}
	.map-sec .table-wrap table th {
		border-top: 0;
	}
	.map-sec .table-wrap table td ul {
		padding: calc(100vw * (10 / 1535)) 0;
	}
	.map-sec .table-wrap table td ul li {
		font-size: calc(100vw * (30 / 1535));
		line-height: calc(100vw * (40 / 1535));
	}

	.map-sec .table-wrap table td ul li span {
		/*padding-left: calc(100vw * (20 / 1535));*/
	}

	.map-sec .table-wrap table td ul span {
		font-size: calc(100vw * (21 / 1535));
		padding-left: calc(100vw * (67 / 1535));
	}

	.map-sec .table-wrap table td ul li + li {
		margin-top: calc(100vw * (20 / 1535));
	}
	/* e: 개최지역 안내 */

	/* s: 고교 연계 프로그램 */
	.program-sec {
		margin-top: calc(100vw * (145 / 1535));
	}
	.program-sec .sec-header h2 {
		font-size: calc(100vw * (55 / 1535));
		line-height: calc(100vw * (72 / 1535));
	}
	.program-sec .sec-header h2 img {
		width: calc(100vw * (50 / 1535));
		margin-right: calc(100vw * (30 / 1535));
	}
	.program-sec .sec-body {
		margin-top: calc(100vw * (40 / 1535));
	}
	.program-sec .program-slide {
		/* width: calc(100vw * (calc(100% + 26) / 1535)); */
		/* padding-right: calc(100vw * (26 / 1535)); */
	}
	.program-sec .program-slide .swiper-slide {
		width: calc(100vw * (356 / 1535));
	}
	.program-sec .program-item {
		width: calc(100vw * (358 / 1535));
		height: calc(100vw * (417 / 1535));
		padding: calc(100vw * (105 / 1535)) calc(100vw * (40 / 1535)) calc(100vw * (40 / 1535)) calc(100vw * (30 / 1535));
	}
	.program-sec .program-item .program-label {
		right: calc(100vw * (37 / 1535));
		top: 0;
		width: calc(100vw * (97 / 1535));
		height: calc(100vw * (89 / 1535));
		font-size: calc(100vw * (23 / 1535));
		line-height: calc(100vw * (66 / 1535));
	}
	.program-sec .program-item .program-con .tit {
		font-size: calc(100vw * (36 / 1535));
		line-height: calc(100vw * (40 / 1535));
	}
	.program-sec .program-item .program-con .txt {
		margin-top: calc(100vw * (10 / 1535));
		font-size: calc(100vw * (30 / 1535));
		line-height: calc(100vw * (36 / 1535));
	}

	.program-sec .program-item .program-con .btn {
		margin-top: calc(100vw * (25 / 1535));
	}
	.program-sec .program-item .program-con .btn a {
		width: calc(100vw * (270 / 1535));
		height: calc(100vw * (75 / 1535));
		font-size: calc(100vw * (30 / 1535));
		line-height: calc(100vw * (44 / 1535));
		border-radius: calc(100vw * (12 / 1535));
		letter-spacing: calc(100vw * (-1.6 / 1535));
		box-shadow: calc(100vw * (5 / 1535)) calc(100vw * (5 / 1535)) calc(100vw * (10 / 1535)) 0 rgba(0, 0, 0, 0.35);
	}

	/* e: 고교 연계 프로그램 */

	/* s: 지역 박람회 */
	.exposition-sec {
		margin-top: calc(100vw * (145 / 1535));
	}
	.exposition-sec .sec-header h2 {
		font-size: calc(100vw * (55 / 1535));
		line-height: calc(100vw * (72 / 1535));
	}
	.exposition-sec .sec-header h2 img {
		width: calc(100vw * (50 / 1535));
		margin-right: calc(100vw * (30 / 1535));
	}
	.exposition-sec .sec-body {
		margin-top: calc(100vw * (10 / 1535));
	}

	.exposition-sec .sec-info {
		font-size: calc(100vw * (25 / 1535));
	}

	.exposition-sec .table-wrap .table th,
	.exposition-sec .table-wrap .table td {
		padding: calc(100vw * (15 / 1535)) calc(100vw * (15 / 1535));
	}
	.exposition-sec .table-wrap .table td {
		font-size: calc(100vw * (24 / 1535));
		line-height: calc(100vw * (30 / 1535));
	}
	/* e: 지역 박람회 */
}
@media all and (max-width: 1535px) {
	.header h1 span {
		display: block;
	}

	.map-sec .map-wrap {
		margin-top: calc(100vw * (25 / 1535));
	}

	.map-sec .map-wrap .map {
		background-size: calc(100vw * (180 / 1535));
		background-position: left calc(100vw * (220 / 1535)) bottom;
	}

	.map-sec .map-wrap .map-box {
		width: calc(100vw * (300 / 1535));
		height: calc(100vw * (330 / 1535));
		padding: calc(100vw * (10 / 1535)) 0 calc(100vw * (25 / 1535)) 0;
		border-radius: calc(100vw * (25 / 1535));
		box-shadow: calc(100vw * (5 / 1535)) calc(100vw * (5 / 1535)) calc(100vw * (10 / 1535)) 0 rgba(0, 0, 0, 0.1);
	}
	.map-sec .map-wrap .map-box .num {
		font-size: calc(100vw * (36 / 1535));
		line-height: calc(100vw * (42 / 1535));
	}
	.map-sec .map-wrap .map-box .city {
		margin-top: calc(100vw * (8 / 1535));
		font-size: calc(100vw * (45 / 1535));
		line-height: calc(100vw * (50 / 1535));
	}
	.map-sec .map-wrap .map-box .date {
		margin-top: calc(100vw * (10 / 1535));
		font-size: calc(100vw * (34 / 1535));
		line-height: calc(100vw * (44 / 1535));
	}
	.map-sec .map-wrap .map-box .name {
		margin-top: calc(100vw * (8 / 1535));
		font-size: calc(100vw * (42 / 1535));
		line-height: calc(100vw * (44 / 1535));
		letter-spacing: calc(100vw * (-1.6 / 1535));
	}

	.map-sec .map-wrap .map-box .btn {
		margin-top: calc(100vw * (20 / 1535));
	}
	.map-sec .map-wrap .map-box .btn a {
		width: calc(100vw * (220 / 1535));
		height: calc(100vw * (65 / 1535));
		font-size: calc(100vw * (34 / 1535));
		line-height: calc(100vw * (44 / 1535));
		border-radius: calc(100vw * (12 / 1535));
		letter-spacing: calc(100vw * (-1.6 / 1535));
		box-shadow: calc(100vw * (5 / 1535)) calc(100vw * (5 / 1535)) calc(100vw * (10 / 1535)) 0 rgba(0, 0, 0, 0.35);
	}

	.map-sec .map-wrap .map-box.type-01 {
		top: calc(100vw * (40 / 1535));
		left: calc(100vw * (190 / 1535));
	}
	.map-sec .map-wrap .map-box.type-02 {
		top: calc(100vw * (10 / 1535));
		left: calc(100vw * (755 / 1535));
	}
	.map-sec .map-wrap .map-box.type-03 {
		top: calc(100vw * (568 / 1535));
		left: calc(100vw * (1063 / 1535));
	}
	.map-sec .map-wrap .map-box.type-04 {
		top: calc(100vw * (720 / 1535));
		left: calc(100vw * (567 / 1535));
	}
	.map-sec .map-wrap .map-box.type-05 {
		top: calc(100vw * (390 / 1535));
		left: calc(100vw * (190 / 1535));
	}
	.map-sec .map-wrap .map-box.type-06 {
		top: calc(100vw * (222 / 1535));
		left: calc(100vw * (1063 / 1535));
	}
}

@media all and (max-width: 767px) {
	html {
		font-size: 0.5px;
	}
	.header .ajou-home,
	.header h1 {
		padding: 0 25rem;
		font-size: 27rem;
		line-height: 0.5;
	}
	.header .ajou-home img {
		width: 60rem;
		margin-right: 10rem;
	}
	.map-sec .sec-header h2,
	.exposition-sec .sec-header h2,
	.program-sec .sec-header h2 {
		font-size: 46rem;
		line-height: 1.5;
	}

	.exposition-sec .sec-header h2 img,
	.program-sec .sec-header h2 img {
		width: 40rem;
		line-height: 1.5;
	}

	.program-sec .program-item .program-con .btn {
		margin-top: 10px;
	}
	.program-sec .program-item .program-con .btn a {
		height: 38px;
		font-size: 15px;
		border-radius: 5px;
	}
}


@media all and (max-width: 580px) {
	.header .ajou-home img {
		display: none;
	}

	.map-sec .map-wrap .map {
		background-image: none;
	}
}
