@charset "UTF-8";

/*-------------------------------------------------------------------
	@Resets
-------------------------------------------------------------------*/
html,body,div,ul,ol,dl,li,dt,dd,p,h1,h2,h3,h4,h5,h6,table,thead,tbody,tr,th,td,caption,address,article,aside,canvas,details,figure,figcaption,main,footer,header,menu,nav,section,button,form,select,textarea,input,fieldset,legend,label,a,span,strong,em,address,dfn,xmp,small,i,b {
	margin: 0;
	padding: 0;
	border: 0;
	letter-spacing: inherit;
	list-style: none;
	font-style: normal;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	color: inherit;
	line-height: inherit;
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-o-box-sizing: inherit;
	-webkit-print-color-adjust: exact;
	color-adjust: exact !important;
	overscroll-behavior: none;
}

:before, :after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-o-box-sizing: inherit;
}
html {
	font-size: 1px;
}
body {
	color: #444;
	font-family: "KoPub Dotum", "sans-serif";
	font-size: 14rem;
	line-height: 1.4;
	letter-spacing: -0.02em;
	word-break: break-all;
	word-wrap: break-word;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

img {
	max-width: 100%;
}

/*-------------------------------------------------------------------
	@Layout
-------------------------------------------------------------------*/
/* Variables */
:root {
	--spacer-side: 30rem;
	--width-inner: 1475rem;
}

/* Page */
html, body {
	height: 100%;
}

.inner {
	width: 100%;
	max-width: calc(var(--width-inner) + (var(--spacer-side) * 2));
	padding-left: var(--spacer-side);
	padding-right: var(--spacer-side);
	margin: auto;
}
.wrapper {
	position: relative;
	z-index: 10;
	min-height: 100%;
	padding-top: 104rem;
	padding-bottom: 70rem;
	background: linear-gradient(to bottom, #e3eeff, #f3e7e9);
}

.footer {
	margin-top: 200rem;
	text-align: center;
}
/*-------------------------------------------------------------------
	@Components
-------------------------------------------------------------------*/
/* 공통 */
.table-wrap table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
.table-wrap table th,
.table-wrap table td {
	padding: 27rem 15rem;
	font-weight: 400;
	font-size: 32rem;
	line-height: 40rem;
	text-align: left;
	border-bottom: 2rem solid #000;
}
.table-wrap table th {
	border-top: 2rem solid #000;
}
.table-wrap table td {
	border-bottom: 1rem solid #000;
}
/*-------------------------------------------------------------------
	@Contents
-------------------------------------------------------------------*/
.header {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.header h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 34rem;
	height: 134rem;
	margin: 0;
	padding: 0 90rem;
	border-radius: 40rem;
	background-color: #9898a0;
	font-size: 58rem;
	line-height: 1.5;
	font-weight: 600;
	color: #fff;
	letter-spacing: 1rem;
	box-shadow: 5rem 5rem 8rem 0 rgba(0, 0, 0, 0.5);
}
.header h1 img {
	width: 80rem;
}
.header .explain {
	margin-top: 94rem;
	font-size: 60rem;
	line-height: 72rem;
	color: #000;
	font-weight: 600;
}

/* s: 개최지역 안내 */
.map-sec .map-wrap {
	position: relative;
	margin-top: 96rem;
	text-align: center;
}
.map-sec .map-wrap .map {
	position: relative;
	left: 16rem;
}
.map-sec .map-wrap .map-box {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 326rem;
	height: 360rem;
	padding: 10rem 0rem 25rem 0rem;
	background-color: #fff;
	text-align: center;
	box-shadow: 5rem 5rem 10rem 0 rgba(0, 0, 0, 0.1);
}
.map-sec .map-wrap .map-box .num {
	font-weight: 300;
	font-size: 36rem;
	line-height: 44rem;
	color: #356665;
}
.map-sec .map-wrap .map-box .city {
	margin-top: 8rem;
	font-weight: 600;
	font-size: 48rem;
	line-height: 58rem;
	color: #1f3d3c;
}
.map-sec .map-wrap .map-box .date {
	margin-top: 20rem;
	font-weight: 300;
	font-size: 36rem;
	line-height: 44rem;
	color: #000;
}
.map-sec .map-wrap .map-box .name {
	margin-top: 8rem;
	font-weight: 400;
	font-size: 48rem;
	line-height: 44rem;
	letter-spacing: -1.6rem;
	color: #000;
}
.map-sec .map-wrap .map-box .btn {
	display: flex;
	justify-content: center;
	margin-top: 28rem;
}
.map-sec .map-wrap .map-box .btn a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 220rem;
	height: 75rem;
	font-weight: 600;
	font-size: 36rem;
	line-height: 44rem;
	color: #fff;
	border-radius: 12rem;
	background-color: #bcad9d;
	text-decoration: none;
	letter-spacing: -1.6rem;
	box-shadow: 5rem 5rem 10rem 0 rgba(0, 0, 0, 0.35);
}
.map-sec .map-wrap .map-box.type-01 {
	top: 90rem;
	left: 84rem;
}
.map-sec .map-wrap .map-box.type-02 {
	top: 160rem;
	left: 720rem;
}
.map-sec .map-wrap .map-box.type-03 {
	top: 748rem;
	left: 1063rem;
}
.map-sec .map-wrap .map-box.type-04 {
	top: 873rem;
	left: 567rem;
}
.map-sec .map-wrap .map-box.type-05 {
	top: 488rem;
	left: 85rem;
}
.map-sec .map-wrap .map-box.type-06 {
	top: 362rem;
	left: 1063rem;
}
.map-sec .table-wrap {
	margin-top: 135rem;
}
.map-sec .table-wrap table th {
	border-top:0;
}
.map-sec .table-wrap table td ul {
	padding: 10rem 0;
}
.map-sec .table-wrap table td ul li {
	display: flex;
	font-size: 30rem;
	line-height: 40rem;
}
.map-sec .table-wrap table td ul li strong {
	display: block;
	text-align: right;
	font-weight: 600;
	width: 50%;
}
.map-sec .table-wrap table td ul li span {
	display: block;
	padding-left: 20rem;
	text-align: left;
	font-weight: 300;
	width: 50%;
}
.map-sec .table-wrap table td ul li + li {
	margin-top: 20rem;
}
/* e: 개최지역 안내 */

/* s: 고교 연계 프로그램 */
.program-sec {
	overflow: hidden;
	margin-top: 145rem;
	width: calc(100% + 40rem);
	padding-right: 26rem;
}
.program-sec .sec-header h2 {
	font-weight: 600;
	font-size: 60rem;
	line-height: 72rem;
	color: #000;
	text-align: center;
}
.program-sec .sec-header h2 img {
	width: 80rem;
	margin-right: 30rem;
	vertical-align: middle;
}
.program-sec .program-slide {
	overflow: hidden;
}
.program-sec .program-slide .swiper-slide {
	width: auto;
	box-sizing: border-box;
}
.program-sec .program-item {
	position: relative;
	width: 358rem;
	height: 417rem;
	padding: 110rem 40rem 40rem 30rem;
	background: url('../img/bg-program.png') no-repeat 0 0 / contain;
	color: #000;
}
.program-sec .program-item .program-label {
	position: absolute;
	right: 37rem;
	top: 0;
	width: 97rem;
	height: 89rem;
	font-size: 23rem;
	line-height: 66rem;
	text-align: center;
	font-weight: 600;
}
.program-sec .program-item .program-con .tit {
	font-size: 36rem;
	line-height: 42rem;
	font-weight: 600;
}
.program-sec .program-item .program-con .txt {
	margin-top: 30rem;
	font-size: 30rem;
	line-height: 36rem;
	font-weight: 400;
}
/* e: 고교 연계 프로그램 */

/* s: 지역 박람회 */
.exposition-sec {
	margin-top: 145rem;
}
.exposition-sec .sec-header h2 {
	font-weight: 600;
	font-size: 60rem;
	line-height: 72rem;
	color: #000;
	text-align: center;
}
.exposition-sec .sec-header h2 img {
	width: 80rem;
	margin-right: 30rem;
	vertical-align: middle;
}
.exposition-sec .sec-body {
	margin-top: 60rem;
}
.exposition-sec .table-wrap .table th,
.exposition-sec .table-wrap .table td {
	padding: 15rem 15rem;
}
.exposition-sec .table-wrap .table td {
	font-size: 24rem;
	line-height: 30rem;
}

/* e: 지역 박람회 */

/* Demo */
.demo-wrapper {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	text-align: center;
	opacity: 0;
}


@media all and (max-width: 480px) {
	html {
		font-size: 0.5px;
	}
}
