.btn-ico {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.btn-group {
  position: relative;
  margin-top: 3em;

  @include clearFloat;

  .left {
    float: left;

    .btn {
      margin-right: .6rem;
    }
  }

  .right {
    float: right;

    .btn {
      margin-left: .6rem;
    }
  }

  &.center {
    text-align: center;
  }
}

.btn {
  display: inline-block;
  padding: 1.2rem 3.5rem;
  min-width: 14rem;
  background-color: $white;
  border: 1px solid $grey-lighten-1;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: $grey-base;

  &__positive {
    background-color: $blue-base;
    border-color: $blue-base;
    color: $white;
  }
  &__negative {
    background-color: $blue-darken-1;
    border-color: $blue-darken-1;
    color: $white;
  }
  &__primary {
    background-color: $orange-base;
    border-color: $orange-base;
    color: $white;
  }
  // &__secondary {
  //   background-color: $orange-base;
  //   border-color: $orange-base;
  //   color: $white;
  // }
  &__more {
    background-color: $orange-base;
    border-color: $orange-base;
    color: $white;
  }
}

@include mq(mobile) {
  .btn {
    padding: .6rem 1.2rem;
    min-width: 8rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
