.faq {
  margin: 20px auto 0;
  max-width: 1200px;
  border-top: 2px solid $black;

  &__item {
    position: relative;

    &:hover .faq__title__question,
    &--is-active .faq__title__question {
      color: $blue-base;
    }
    &--is-active .faq__title__question::after {
      top: calc(50% + .5rem);
      transform: translateY(-50%) rotate(-135deg);
    }
  }

  &__title {
    position: relative;
    width: 100%;
    border-bottom: 1px solid $grey-lighten-5;
    word-wrap: break-word;
    cursor: pointer;

    &__question {
      position: relative;
      display: block;
      padding: 1.2em 4em 1.2em 4em;
      font-size: 2em;

      .badge {
        margin-right: .4rem;
        vertical-align: middle;
      }

      &.faq__title__fixed {
        background-color: #f2f2f2;
      }
    }

    &__question::before {
      position: absolute;
      top: 1.3em;
      left: 1.6em;
      display: block;
      width: .8em;
      height: 1.1em;
      background: url('../images/common/ico-question.png') no-repeat left center / contain;
      content: '';
    }

    &__question.faq__title__fixed::before {
      top: 1.5em;
      width: .9em;
      height: .9em;
      background-image: url('../images/common/ico-board-fixed.png');
    }

    &__question::after {
      position: absolute;
      top: calc(50% - .5rem);
      right: 1.4em;
      display: inline-block;
      width: .8em;
      height: .8em;
      border-right: 2px solid $grey-lighten-1;
      border-bottom: 2px solid $grey-lighten-1;
      content: '';
      transition: all .3s;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &__desc {
    position: relative;
    display: none;
    padding: 1.5em 1.75em 1.5em 5em;
    width: 100%;
    background: #f8f8f8;
    border-bottom: 1px solid $grey-lighten-5;
    font-size: 1.6em;
    line-height: 1.8em;
    color: $grey-base;

    &::before {
      position: absolute;
      top: 1.8em;
      left: 2em;
      display: block;
      width: 1.125em;
      height: 1.188em;
      background: url('../images/common/ico-answer.png') no-repeat left center / contain;
      content: '';
    }
  }

  &__no-data {
    padding: 8.5em 0;
    background-color: #f8f8f8;
    text-align: center;

    p {
      position: relative;
      padding-top: 11.5em;
      font-size: 1.5em;
      color: $grey-base;
      text-align: center;

      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        width: 10.5em;
        height: 9.5em;
        background: url('../images/common/ico-nodata.png') no-repeat center / contain;
        content: '';
        transform: translateX(-50%);
      }
    }
  }
}

@include mq(tablet) {
  .faq__no-data {
    padding: 5em 0;

    p {
      padding-top: 7em;
      font-size: 1.3rem;

      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        width: 6em;
        height: 5.5em;
        background: url('../images/common/ico-nodata.png') no-repeat center / contain;
        content: '';
        transform: translateX(-50%);
      }
    }
  }
}

@include mq(mobile) {
  .faq {
    &__title__question {
      padding: 1.25em 2.813em 1.25em 2.813em;
      font-size: 1.6em;

      &::before {
        top: 1.45em;
        left: 1em;
        width: .813em;
        height: 1em;
        background-image: url('../images/common/ico-question-mo.png');
      }

      &::after {
        top: calc(50% + .2rem);
        width: .5em;
        height: .5em;
      }
    }

    .faq__item--is-active .faq__title__question::after {
      top: calc(50% - .2rem);
    }

    &__desc {
      padding: 1.286em 1.429em 1.286em 2.857em;

      &::before {
        top: 1.6em;
        left: 1.071em;
        width: .929em;
        height: 1.072em;
        background-image: url('../images/common/ico-answer-mo.png');
      }
    }
  }
}
