
.breadcrumbs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba($black, .5);
  .inner {
    position: relative;

@include deskMaxWidth;

@include clearFloat;

    > * {
      float: left;
    }

    [class*='breadcrumbs__dep'] {
      position: relative;
      min-width: 28em;

      &::before {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: rgba($black, .45);
        content: '';
        transform: translateY(-50%);
      }
    }

    [class*='title__dep'] {
      position: relative;
      padding: 2rem 4rem;
      width: 100%;
      font-size: 1.8em;
      font-weight: 500;
      line-height: 3rem;
      color: $white;
      text-align: left;

      &::before {
        position: absolute;
        top: 50%;
        right: 2rem;
        width: .6rem;
        height: .6rem;
        border-right: 2px solid $white;
        border-bottom: 2px solid $white;
        content: '';
        transition: all .3s;
        transform: translateY(-50%) rotate(45deg);
      }

      &.is-active::before {
        transform: translateY(-50%) rotate(-135deg);
      }
    }

    [class*='list__dep'] {
      position: absolute;
      z-index: 3;
      top: 100%;
      left: 0;
      display: none;
      width: 100%;
      background-color: $white;
      border: 1px solid $border-line;
    }

    [class*='list__dep'] a {
      display: block;
      padding: 1.2rem 4rem;
      border-top: 1px solid $border-line;
      font-size: 1.6em;

      &:first-child {
        border-top: 0;
      }

      &:hover {
        background-color: $grey-lighten-5;
      }

      br {
        display: none;
      }
    }
  }

  .home {
    display: inline-block;
    overflow: hidden;
    width: 7rem;
    height: 7rem;
    background: rgba($blue-base, .7) url('../images/common/ico-home.png')
    no-repeat center / 2.2em;
    line-height: 500px;
  }
}

@include mq(mobile) {
  .breadcrumbs {
    .home {
      display: none;
    }
    .inner [class*='breadcrumbs__dep'] {
      width: 50%;
      min-width: auto;

      &:last-child::before {
        display: none;
      }
    }
    .inner [class*='title__dep'] {
      padding: 1rem 2rem;
      font-size: 1.4em;
    }
    // .breadcrumbs .inner [class*='list__dep'] a:first-child
    .inner [class*='list__dep'] a {
      padding: 1rem 2rem;
      font-size: 1.3em;
    }
  }
}
