/*
* 전체 레이아웃
*/

body {
  overflow-x: hidden;
  overflow-y: auto;

  &.is-fixed {
    // position: fixed;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
  }
}

#wrapper {
  position: relative;
  z-index: 0;
}

.visual {
  position: relative;

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 4.8em;
    font-weight: 700;
    color: $white;
    text-align: center;
    transform: translate(-50%, -50%);

    br {
      display: none;
    }
  }

  [class*='visual__img'] {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 37.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }

  &__img00 {
    background-image: url('../images/visualTemp/sub-visual00.jpg');
  }

  &__img01 {
    background-image: url('../images/visualTemp/sub-visual01.jpg');
  }

  &__img02 {
    background-image: url('../images/visualTemp/sub-visual02.jpg');
  }

  &__img03 {
    background-image: url('../images/visualTemp/sub-visual03.jpg');
  }

  &__img04 {
    background-image: url('../images/visualTemp/sub-visual04.jpg');
  }

  &__img05 {
    background-image: url('../images/visualTemp/sub-visual05.jpg');
  }

  &__img06 {
    background-image: url('../images/visualTemp/sub-visual06.jpg');
  }

  &__img07 {
    background-image: url('../images/visualTemp/sub-visual07.jpg');
  }

  &__img08 {
    background-image: url('../images/visualTemp/sub-visual08.jpg');
  }
}

.page-header {
  position: relative;
  padding: 6rem 0;

@include deskMaxWidth;

  &__title {
    font-size: 3.8em;
    font-weight: 700;
    color: $grey-darken-1;
  }

  .util-set {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    .btn-ico {
      border: 1px solid $grey-lighten-1;
    }
  }
}

.content {
  margin: 0 auto 12em;

  &:not(.content__wide) {
    margin-bottom: 12em;
    max-width: 120rem;
  }

  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

.scroll-top {
  position: fixed;
  z-index: 5;
  right: 1em;
  bottom: 1.5em;
  display: none;
  overflow: hidden;
  width: 5em;
  height: 5em;
  background: url('../images/common/btn-top.png') no-repeat center / cover;
  line-height: 500px;
}

@include mq(deskMax) {
  .page-header,
  .content:not(.content__wide) {
    // margin-right: 2em;
    // margin-left: 2em;
    max-width: calc(100% - 4em);
  }
}

@include mq(mobile) {
  .visual {
    &__title {
      font-size: 3em;
    }

    [class*='visual__img'] {
      height: 21.5rem;
    }

    &__img00 {
      background-image: url('../images/visualTemp/sub-visual00-mo.jpg');
    }

    &__img01 {
      background-image: url('../images/visualTemp/sub-visual01-mo.jpg');
    }

    &__img02 {
      background-image: url('../images/visualTemp/sub-visual02-mo.jpg');
    }

    &__img03 {
      background-image: url('../images/visualTemp/sub-visual03-mo.jpg');
    }

    &__img04 {
      background-image: url('../images/visualTemp/sub-visual04-mo.jpg');
    }

    &__img05 {
      background-image: url('../images/visualTemp/sub-visual05-mo.jpg');
    }

    &__img06 {
      background-image: url('../images/visualTemp/sub-visual06-mo.jpg');
    }

    &__img07 {
      background-image: url('../images/visualTemp/sub-visual07-mo.jpg');
    }

    &__img08 {
      background-image: url('../images/visualTemp/sub-visual08-mo.jpg');
    }
  }

  .content:not(.content__wide) {
    margin-bottom: 8em;
  }
}

@media (max-width: 375px) {
  .visual__title {
    font-size: 2.8em;

    br {
      display: block;
    }
  }
}
