.screen-modulate {
  position: relative;
  margin: 6rem auto;
  max-width: 120rem;

  .sub-page__title {
    display: inline-block;
    font-size: 3.8em;
    font-weight: 700;
    color: $grey-darken-1;
  }

  .screen__btn-list {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;

    li {
      display: inline-block;
      margin-left: -1px;
      width: 42px;
      height: 42px;
      border: 1px solid #ebebeb;
      line-height: 42px;
      vertical-align: middle;
      text-align: center;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

@include mq(deskMax) {
  .screen-modulate {
    // margin-right: 2em;
    // margin-left: 2em;
    max-width: calc(100% - 4em);
  }
}

//mobile
@include mq(mobile) {
  .screen-modulate {
    margin: 4.5em 2em 3em;

    .sub-page__title {
      font-size: 2.5em;
    }
  }

  .screen__btn-list {
    display: none;
  }
}
