// color
$shades: (
  'black': #000,
  'white': #fff,
);
$black: map-get($shades, 'black');
$white: map-get($shades, 'white');
@each $color_name, $color in $shades {
  .#{$color_name} {
    color: $color !important;
  }

  .#{$color_name}-bg {
    background-color: $color !important;
  }
}

// grey
$grey: (
  'base': #666,
  'lighten-1': #999,
  'lighten-2': #aeaeae,
  'lighten-3': #e8e8e8,
  'lighten-4': #f5f5f5,
  'lighten-5': #e3e3e3,
  'darken-1': #222,
  'darken-2': #333,
  'darken-3': #787878,
);
$grey-base: map-get($grey, 'base');
$grey-lighten-1: map-get($grey, 'lighten-1');
$grey-lighten-2: map-get($grey, 'lighten-2');
$grey-lighten-3: map-get($grey, 'lighten-3');
$grey-lighten-4: map-get($grey, 'lighten-4');
$grey-lighten-5: map-get($grey, 'lighten-5');
$grey-darken-1: map-get($grey, 'darken-1');
$grey-darken-2: map-get($grey, 'darken-2');
$grey-darken-3: map-get($grey, 'darken-3');

// blue
$blue: (
  'base': #006ec2,
  'darken-1': #6b7385,
  'darken-2': #0d1730,
  'darken-3': #3b4357
);
$blue-base: map-get($blue, 'base');
$blue-darken-1: map-get($blue, 'darken-1');
$blue-darken-2: map-get($blue, 'darken-2');
$blue-darken-3: map-get($blue, 'darken-3');

// orange
$orange: (
  'base': #ff6c13,
  'lighten-1': rgba(#ff6c13, .08),
);
$orange-base: map-get($orange, 'base');
$orange-lighten-1: map-get($orange, 'lighten-1');
$colorClass: (
  'grey': $grey,
  'orange': $orange,
  'blue': $blue,
) !default;

// classes
@each $color_name, $color in $colorClass {
  @each $color_type, $color_value in $color {
    @if $color_type == 'base' {
      .#{$color_name} {
        color: $color_value !important;
      }

      .#{$color_name}-bg {
        background-color: $color_value !important;
      }
    } @else {
      .#{$color_name}.#{$color_type} {
        color: $color_value !important;
      }

      .#{$color_name}-bg.#{$color_type} {
        background-color: $color_value !important;
      }
    }
  }
}

// ico color code
$enter-code: (
  'color-1': $blue-base,
  'color-2': #1496ae,
  'color-3': #02a07d,
  'color-4': #5b39d5,
  'color-5': #2aafd8,
  'color-6': #917dff,
  'color-7': #73819e
);
$enter-code-color-1: map-get($enter-code, 'color-1');
$enter-code-color-2: map-get($enter-code, 'color-2');
$enter-code-color-3: map-get($enter-code, 'color-3');
$enter-code-color-4: map-get($enter-code, 'color-4');
$enter-code-color-5: map-get($enter-code, 'color-5');
$enter-code-color-6: map-get($enter-code, 'color-6');
$enter-code-color-7: map-get($enter-code, 'color-7');
$high-code: (
  'color-1': $orange-base,
  'color-2': #00bf57,
  'color-3': #755fff,
  'color-4': #2a7fff,
  'color-5': $grey-darken-3
);
$high-code-color-1: map-get($high-code, 'color-1');
$high-code-color-2: map-get($high-code, 'color-2');
$high-code-color-3: map-get($high-code, 'color-3');
$high-code-color-4: map-get($high-code, 'color-4');
$high-code-color-5: map-get($high-code, 'color-5');
$codeColorClass: (
  'enter-code': $enter-code,
  'high-code': $high-code,
) !default;

// classes
@each $color_name, $color_map in $codeColorClass {
  @each $color_type, $color_value in $color_map {
    .#{$color_name}-#{$color_type} {
      background-color: $color_value;
    }
  }
}

// input
$input-border: $grey-lighten-5 !default;
$input-placeholder: #888 !default;

// table
$table-bg-th: #f7f7f7 !default;
$table-border: #ccc !default;

// board
$border-line: $grey-lighten-5 !default;
$board-fixed-item: #f2f2f2 !default;

// pagination
$pagination-border: #d7d7d7 !default
