
.attached-file {
  width: 100%;
  max-width: 400px;

@include clearFloat;

  &__inp {
    position: relative;
    float: right;
    overflow: hidden;

    input[type='file'] {
      position: absolute;
      top: 0;
      left: -9999px;
      opacity: 0;
    }
    label {
      width: 100%;
    }

    .btn__attached-file {
      padding: .7rem 1.2rem;
      width: 10.6rem;
      min-width: auto;
      background-color: $blue-darken-3;
      border-color: $blue-darken-3;
      font-size: 1.5rem;
      color: $white;
    }
  }

  &__list {
    float: left;
    width: calc(100% - 10.6rem);
    min-height: 4rem;
    background-color: $grey-lighten-4;

    .attached-file__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 .5em 0 1em;
      width: 100%;
      height: 4rem;
      line-height: 4rem;

      span {
        display: block;
        width: calc(100% - 2em);
        font-size: 1.5rem;
        color: $grey-lighten-1;

@include ellipsis;

        &::before {
          display: inline-block;
          padding-left: .4rem;
          width: 1em;
          height: 1em;
          background: url('../images/common/ico-file-clip.png') no-repeat center left / contain;
          vertical-align: middle;
          content: '';
        }
      }
    }

    .btn__close {
      position: relative;
      overflow: hidden;
      width: 2rem;
      height: 2rem;
      line-height: 500px;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 1.4rem;
        background-color: $grey-lighten-1;
        content: '';
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }
  }
}

@include mq(mobile) {
  .attached-file {
    width: 100%;
    min-width: auto;

    &__inp {
      float: none;

      .btn__attached-file {
        font-size: 1.3rem;
      }
    }

    &__list {
      float: none;
      width: 100%;

      .attached-file__item {
        margin-top: 1em !important;
      }
      .attached-file__item span {
        font-size: 1.3rem;
      }
    }
  }
}
