.table {
  position: relative;
  margin: 2em 0;
  border-top: 2px solid $black;



  table {
    width: 100%;
  }

  &__scroll {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__fixed table {
    table-layout: fixed;
  }

  thead th {
    padding: 0 1rem;
  }

  th,
  td {
    padding: 1rem;
    height: 5.4rem;
    border: 1px solid $table-border;
    font-size: 1.5em;
    vertical-align: middle;
    .add_type tr td{
    border-right:0;
    }  
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }

  tr th:first-child,
  tr td:first-child {
    border-left: 0;
  }

  tr th:last-child,
  tr td:last-child {
    border-right: 0;
  }

  thead tr:first-child th,
  thead tr:first-child td {
    border-top: 0;
  }

  :not(thead) + tbody tr:first-child th,
  :not(thead) + tbody tr:first-child td {
    border-top: 0;
  }

  thead th {
    background-color: $table-bg-th;
    font-weight: 500;
  }

  tbody th {
    font-weight: 500;
  }

  &__type1 {
    tbody th {
      padding: 1rem 2rem;
      background-color: $table-bg-th;
      font-weight: 500;
      text-align: left;
    }
  }

  &__type2 {
    border-top: 0;

    & + .table__type2 {
      margin-top: 4em;
    }

    thead tr:first-child th {
      background-color: $blue-base;
      border: 0;
      font-size: 1.8em;
      color: $white;
    }

    thead tr:nth-child(2) th {
      border-top: 0;
    }

    td {
      text-align: center;
    }
  }

  //입시도우미 팝업 테이블
  &__type3 {
    tr {
      max-height: 50px;
    }
    td {
      text-align: center;
      &.text-start {
        font-weight: 500;
        text-align: start;
      }
    }
    &.modal__contents-tbl1-m {
      display: none;
    }
  }
  //입시도우미 팝업 테이블 끝

  &__part {
    tbody th {
      width: 14em;
      font-size: 1.8em;
      color: $grey-base;
    }
    tbody td {
      padding: 1rem 6rem;
      font-size: 1.6em;
    }
    tbody th {
      background-color: $table-bg-th;
      font-weight: 500;
    }
  }
}

@include mq(tablet) {
  .table__part tbody th {
    width: 10em;
  }
}

@include mq(mobile) {
  .table__type1 tbody th {
    font-size: 1.4em;
  }
  .table__type1 tbody td {
    padding: 1rem;
    font-size: 1.4em;
  }
  .table__part {
    tbody td {
      padding: 1rem;
    }
    tbody th {
      width: 8em;
    }
  }
}

@media (max-width: 375px) {
  .table__part tbody th {
    width: 6em;
    font-size: 1.6em;
  }
}

.table__reg {
  tbody th {
    width: 18em;
  }
  .w15 {
    width: 15em;
  }
  .w50 {
    width: 50%;
  }
}

@include mq(mobile) {
  .table__reg {
    tbody th {
      width: 8em;
    }
    .w15,
    .w50 {
      width: 100%;
    }
  }
}


//입시도우미 팝업 테이블 테블릿 이하 시작

@include mq(tablet) {
  .table__type3 {
    &.modal__contents-tbl1 {
      thead tr:first-child th {
        width: 200px;
      }
    }

    &.modal__contents-tbl2 {
      thead tr:nth-child(1) th:first-child {
        width: 211px;
      }
      thead tr:nth-child(1) th:nth-child(2) {
        width: 300px;
      }
      thead tr:nth-child(1) th:nth-child(3) {
        width: 200px;
      }
      thead tr:nth-child(1) th:nth-child(4) {
        width: 150px;
      }
    }
    &.modal__contents-tbl3 {
      thead tr:nth-child(1) th {
        width: 200px;
      }
      thead tr:nth-child(1) th:nth-child(1) {
        width: 273px;
      }
    }
    &.modal__contents-tbl4 {
      thead tr:nth-child(1) th {
        width: 159px;
      }
      thead tr:nth-child(1) th:nth-child(1) {
        width: 97.5px;
      }
    }
    &.modal__contents-tbl5 {
      thead tr:nth-child(1) th {
        width: 59px;
      }
      thead tr:nth-child(1) th:nth-child(1) {
        width: 73px;
      }
    }
    &.modal__contents-tbl6 {
      thead tr:nth-child(1) th {
        width: 200px;
      }
      thead tr:nth-child(1) th:nth-child(1) {
        width: 273px;
      }
    }
  }
}
//입시도우미 팝업 테이블 테블릿 이하 끝


//수시 모의지원 '성적계산 방법 안내' 팝업 모바일 전용 테이블
@include mq(mobile) {
  .table__type3 {
    &.modal__contents-tbl1 {
      display: none;
    }
    &.modal__contents-tbl1-m {
      display: table;
      th {
        background-color: $table-bg-th;
      }
    }
  }
}
