//서브페이지 게시물 수
.post-total {
  margin: 0 auto;
  width: 1200px;
  font-size: 1.4em;
  div {
    display: inline-block;
    vertical-align: middle;
  }
  &__hamburger {
    padding-right: 10px;
    vertical-align: middle;
    &-btn {
      cursor: pointer;
      span {
        display: block;
        margin: 4px 0;
        width: 15px;
        height: 1px;
        background-color: $grey-base;
      }
    }
  }
  &-amount {
    font-weight: 700;
    color: $blue-base;
  }
  .post-search-box {
    display: inline-flex;
    justify-content: flex-end;
    &__btn {
      display: inline-flex;
      width: 40px;
      height: 40px;
      background-position: 0 0;
    }
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .post-total {
    margin-left: 40px;
    li {
      display: inline-block;
      vertical-align: middle;
    }
    &__hamburger {
      padding-right: 10px;
      vertical-align: middle;
      &-btn {
        cursor: pointer;
        span {
          display: block;
          margin: 4px 0;
          width: 15px;
          height: 1px;
          background-color: $grey-base;
        }
      }
    }
    &-amount {
      font-weight: 700;
      color: $blue-base;
    }
  }
}

@media all and (max-width: 768px) {
  .post-total {
    margin-left: 40px;
    li {
      display: inline-block;
      vertical-align: middle;
    }
    &__hamburger {
      padding-right: 10px;
      vertical-align: middle;
    }
    &-amount {
      font-weight: 700;
      color: $blue-base;
    }
  }
}
