input {
  position: relative;
  display: inline-block;
  color: $grey-darken-1;
  vertical-align: middle;

  &[type='text'],
  &[type='password'] {
    padding: .533rem 1rem;
    width: 100%;
    border: 1px solid $input-border;
    border-radius: 0;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.textarea {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  width: 100%;
  height: 28rem;
  border: 1px solid $input-border;
  border-radius: 0;
  font-size: 1.4rem;
  line-height: 1.5;
  color: inherit;
  resize: none;
}
