.radio {
  position: relative;
  display: inline-block;
  min-width: 2rem;
  min-height: 2rem;
  outline: 0;
  line-height: 2rem;

  input[type='radio'] {
    position: absolute;
    padding: 0;
    height: 12px;
    opacity: 0;
    vertical-align: top;
    pointer-events: none;
  }

  label {
    position: relative;
    padding-left: 2.8rem;
    font-size: 1.6rem;

    &::before,
    &::after {
      position: absolute;
      box-sizing: border-box;
      border-radius: 50rem;
      content: '';
    }

    &::before {
      top: .2rem;
      left: 0;
      width: 2rem;
      height: 2rem;
      background-color: $white;
      border: 1px solid $grey-lighten-1;
    }
  }

  &.checked label::before,
  input:checked ~ label::before {
    border-color: $blue-base;
  }

  &.checked label::after,
  input:checked ~ label::after {
    top: .6rem;
    left: .4rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: $blue-base;
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  min-width: 2rem;
  min-height: 2rem;
  outline: 0;
  line-height: 2rem;

  input[type='checkbox'] {
    position: absolute;
    padding: 0;
    height: 12px;
    opacity: 0;
    vertical-align: top;
    pointer-events: none;
  }

  label {
    position: relative;
    padding-left: 2.8rem;
    font-size: 1.6rem;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      border-radius: .2rem;
      content: '';
      transform: translateY(-50%);
    }

    &::before {
      width: 2rem;
      height: 2rem;
      background-color: $white;
      border: 1px solid $grey-lighten-1;
    }
  }

  input:checked ~ label::before {
    background-color: $blue-base;
    border-color: $blue-base;
  }

  input:checked ~ label::after {
    left: .4rem;
    margin-top: -.6rem;
    width: 1.2rem;
    height: .8rem;
    border-top: 2px solid $white;
    border-right: 2px solid $white;
    transform: rotate(135deg);
  }
}

.radio-group {
  .radio {
    margin-right: 7rem;
  }
}

@include mq(tablet) {
  .radio-group .radio {
    margin-right: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

@include mq(mobile) {
  .radio {
    min-width: 1.6rem;
    min-height: 1.6rem;
    line-height: 1.6rem;

    label {
      padding-left: 2rem;
      font-size: 1.3rem;

      &::before {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    &.checked label::after,
    input:checked ~ label::after {
      left: .4rem;
      width: .8rem;
      height: .8rem;
    }
  }

  .checkbox {
    min-width: 1.6rem;
    min-height: 1.6rem;
    line-height: 1.6rem;

    label {
      padding-left: 2rem;
      font-size: 1.3rem;

      &::before {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    input:checked ~ label::after {
      left: .3rem;
      margin-top: -.5rem;
      width: 1rem;
      height: .7rem;
    }
  }

  .radio-group {
    .radio {
      display: block;
      margin-top: .4em;
      margin-right: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
