select {
  position: relative;
  padding: .533rem 2rem .533rem 1rem;
  width: 100%;
  background: url('../images/common/ico-select-arrow.png') no-repeat center right;
  border: 1px solid $input-border;
  border-radius: 0;
  font-size: 1.5rem;
  line-height: 1.5;

  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;

  &.is-open {
    background-image: url('../images/common/ico-select-arrow-open.png');
  }
}

select::-ms-expand {
  display: none;
}

.selectbox__result {
  select:first-child {
    width: 140px;
  }
  select:last-child {
    margin-left: .2em;
    width: 280px;
  }
}


@include mq(mobile) {
  .selectbox__result {
    select:first-child {
      width: 100%;
    }
    select:last-child {
      margin-top: .5em;
      margin-left: 0;
      width: 100%;
    }
  }
}
