.badge {
  display: inline-block;
  box-sizing: border-box;
  padding: .6rem .4rem;
  min-width: 7.2rem;
  border-radius: 2px;
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: $white;
  text-align: center;

  &__color1 {
    background-color: $enter-code-color-1;
  }
  &__color2 {
    background-color: $enter-code-color-2;
  }
  &__color3 {
    background-color: $enter-code-color-3;
  }
  &__color4 {
    background-color: $enter-code-color-4;
  }
  &__color5 {
    background-color: $enter-code-color-5;
  }
  &__color6 {
    background-color: $enter-code-color-6;
  }
  &__color7 {
    background-color: $enter-code-color-7;
  }

  //이 색상 추가해도 될까용??
  &__color8 {
    background-color: $high-code-color-1;
  }
  &__color9 {
    background-color: $high-code-color-2;
  }
  &__color10 {
    background-color: $high-code-color-3;
  }
  &__color11 {
    background-color: $high-code-color-4;
  }
  &__answer-complete {
    background-color: $high-code-color-5;
  }
}

@include mq(mobile) {
  .badge {
    padding: 0 .4rem;
    width: auto;
    font-size: 1.2rem;
    line-height: 2rem;

    br {
      display: none;
    }
  }
}
