.program-info {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.program-info-card {
  position: relative;
  margin-right: 20px;
  margin-bottom: 22px;
  padding: 30px 0 50px 154px;
  width: calc(50% - 10px);
  border: 1px solid $border-line;
  border-radius: 3px;
  line-height: 1.5;

  .badge {
    margin-bottom: 11px;
    font-size: 1.3em;
  }
  &:nth-of-type(2n) {
    margin-right: 0;
  }

  &__img {
    position: absolute;
    top: 40px;
    left: 32px;
    width: 90px;
    height: 90px;
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    border-radius: 50%;
    line-height: 90px;
    text-align: center;

    &.conference {
      background-image: url('../images/ico-school.png');
    }
    &.school-ship {
      background-image: url('../images/ico-students.png');
    }
    &.for-badge-teachers {
      background-image: url('../images/ico-teachers-qa.png');
    }
    &.meeting {
      background-image: url('../images/ico-meeting.png');
    }
    &.conference-teacher {
      background-image: url('../images/ico-conference.png');
    }
  }
  &__badge {
    display: inline-block;
    margin-bottom: 18px;
    width: 78px;
    height: 26px;
    background-color: $orange-base;
    border-radius: 1px;
    font-size: 1.3em;
    line-height: 26px;
    color: $white;
    text-align: center;
  }

  &__content {
    position: relative;
    width: 70.2508%;
  }
  &__title {
    margin-bottom: 32px;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 24px;
    color: $grey-darken-2;
  }
  &__detail {
    display: table;
    margin-top: 10px;
    width: 100%;
    max-width: 368px;
    font-size: 1.4em;
    color: $grey-darken-3;
    table-layout: fixed;
  }
  &__sub-title {
    display: table-cell;
    width: 45px;
    font-size: 1em;
    color: $grey-darken-3;
    vertical-align: top;
    &::after {
      display: inline-block;
      margin: 0 8px;
      width: 1px;
      height: 1em;
      background-color: $grey-lighten-5;
      vertical-align: -.15em;
      content: '';
    }
  }
  &__sub-desc {
    display: table-cell;
    color: $grey-darken-3;
    vertical-align: top;
  }
}

@media (max-width:1240px) {
  .program-info-card {
    padding-top: 42px;
    padding-right: 40px;
    padding-left: 40px;
    &__img {
      position: absolute;
      top: 60px;
      right: 38px;
      left: auto;
    }
    &__sub-desc {
      display: inline-block;
      color: $grey-darken-3;
    }
  }
}

@media (max-width: 1024px) {
  .program-info-card {
    width: 48%;
    dd {
      height: auto;
    }
    &:nth-of-type(2n) {
      float: right;
      margin-bottom: 22px;
    }
  }
}

@media (max-width: 768px) {
  .program-info {
    display: block;
  }

  .program-info-card {
    margin: 0 auto;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 38px;
    width: 100%;
    min-height: auto;
    font-size: 10px;
    &:nth-of-type(2n) {
      float: none;
      margin-top: 22px;
      margin-right: auto;
      margin-bottom: 22px;
    }
    &__img {
      position: absolute;
      top: 20px;
      right: 20px;
      left: auto;
      width: 70px;
      height: 70px;
      background-size: 40px;

      &.conference {
        background-image: url('../images/ico-school-m.png');
      }
      &.school-ship {
        background-image: url('../images/ico-students-m.png');
      }
      &.for-badge-teachers {
        background-image: url('../images/ico-teachers-qa-m.png');
      }
      &.meeting {
        background-image: url('../images/ico-meeting-m.png');
      }
      &.conference-teacher {
        background-image: url('../images/ico-conference-m.png');
      }
    }
    &__badge {
      width: 80px;
      height: 25px;
      border-radius: 3px;
      font-size: 1.3em;
      line-height: 25px;
    }
    &__content {
      width: auto;
    }
    &__title {
      width: 75%;
      font-size: 2.4em;
    }
    &__detail {
      width: 100%;
      font-size: 1.4em;
    }
    &__sub-title {
      font-size: 1.0769em;
      &::after {
        height: 1em;
      }
    }
    &__sub-desc {
      max-width: 500px;
      font-size: 1.0769em;
    }
  }
}
@media (max-width:375px) {
  .program-info-card {
    margin: 0;
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 22px;
    padding-left: 20px;
    width: 100%;
    min-height: auto;
    font-size: 10px;
    &__title {
      font-size: 1.6em;
    }
    &__img {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 55px;
      height: 55px;
      background-size: 35px;
    }
    .badge {
      width: 80.5px;
      height: 26.5px;
      line-height: 2;
    }
  }
}
