.pagination {
  position: relative;
  margin-top: 4em;
  font-size: 0;
  text-align: center;

  a {
    position: relative;
    z-index: 0;
    display: inline-block;
    margin-left: -1px;
    width: 4rem;
    height: 4rem;
    border: 1px solid $pagination-border;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.8rem;
    color: $grey-base;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }

    &[class*='pagination__'] {
      background-repeat: no-repeat;
      background-position: center;
      font-size: 0;
    }
  }

  &__first {
    background-image: url('../images/common/ico-pagination-arr01.png');
    background-size: 1rem 1.1rem;
  }

  &__last {
    background-image: url('../images/common/ico-pagination-arr03.png');
    background-size: 1rem 1.1rem;
  }

  &__prev {
    background-image: url('../images/common/ico-pagination-arr02.png');
    background-size: .7rem 1.1rem;
  }

  &__next {
    background-image: url('../images/common/ico-pagination-arr04.png');
    background-size: .7rem 1.1rem;
  }

  &__num {
    display: inline-block;
    margin: 0 2.5rem;
    font-size: 0;

    a {
      &.is-active {
        z-index: 1;
        border-color: $blue-base;
        font-weight: 800;
        color: $blue-base;
      }

      &:hover {
        font-weight: 800;
        color: $blue-base;
      }

      &:focus {
        z-index: 1;
      }
    }
  }

  .btn__positive {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

@include mq(mobile) {
  .pagination {
    margin-left: -10px;
    width: calc(100% + 20px);
    a {
      width: 3.2rem;
      height: 3.2rem;
      font-size: 1.4rem;
      line-height: 3rem;
    }

    &__num {
      margin: 0 .3rem;
    }

    .btn__positive {
      position: static;
      display: block;
      margin-bottom: 1em;
      width: 100%;
      transform: none;
    }
  }
}
