.calc-grade {
  position: relative;
  margin-top: 6em;
  padding: 2.5em;
  background-color: $orange-lighten-1;
  text-align: center;

  dl {
    display: inline-block;
    margin: 0 3em;
    vertical-align: middle;

    > * {
      display: inline-block;
      vertical-align: middle;
    }
    dt {
      font-size: 1.4em;
    }
    dd {
      margin-left: .5em;
      font-family: 'Roboto';
      font-size: 2.4em;
      font-weight: 700;
      color: $orange-base;
    }
  }

  .btn-group {
    position: absolute;
    top: 50%;
    right: 1.3em;
    margin-top: 0;
    transform: translateY(-50%);
  }
}

@include mq(mobile) {
  .calc-grade {
    dl {
      display: block;
      margin: 0;
      width: 50%;
    }
    .btn-group {
      width: 50%;
    }
  }
}

.panel {
  margin: 3em 0;
  padding: 2rem;
  border: 1px solid $grey-darken-1;
  font-size: 1.4rem;
  text-align: center;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.notice-box {
  margin: 4rem 0;
  padding: 3rem;
  background-color: $grey-lighten-4;
  color: $grey-base;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.essential {
  display: inline-block;
  color: $orange-base;
}

.reg-privacy {
  margin-bottom: 4em;
  border: 1px solid #ccc;

  &__terms {
    padding: 3.5em;
    font-size: 1.4rem;
    color: $grey-base;
    word-break: keep-all;

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }

    .list p {
      margin-top: .4em;
    }
  }

  &__text {
    font-size: 1.8em;
  }

  &__agree {
    padding: 1em 3.5em;
    background-color: $grey-lighten-4;
    font-size: 1.4rem;
  }
}

@include mq(mobile) {
  .reg-privacy {
    margin-bottom: 2em;

    &__terms {
      padding: 2em;
      font-size: 1.2rem;
    }

    &__agree {
      padding: 1em 2em;
      font-size: 1.2rem;
    }
  }
}
