.talent-info {
  @include deskMaxWidth;

  &__title {
    margin-bottom: 5rem;
    text-align: center;

    span:not(.talent-info__text) {
      display: block;
      font-size: 3.4em;
      font-weight: 700;
    }

    em {
      font-style: inherit;
    }
  }
  &__text {
    display: block;
    margin-top: .5em;
    font-size: 1.8rem;
    font-weight: 300;
    color: $grey-base;
  }

  &__desc {
    opacity: 0;
    transition: opacity .7s ease, transform .7s ease;
    transform: translate3d(0,100px,0);
  }

  &.is-animate .talent-info__desc {
    opacity: 1;
    transform: translateZ(0);
  }
}

.talent__sec1 {
  .talent__visual {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 52em;
    background: url('../images/talent-sec1-bg.jpg') no-repeat center / cover;

    p {
      position: absolute;
      top: 10em;
      left: 50%;
      overflow: hidden;
      width: calc(100% - 4em);
      max-width: 105.8em;
      height: 8.1em;
      background: url('../images/talent-sec1-text.png') no-repeat center / 100% auto;
      line-height: 500px;
      content: '';
      transform: translateX(-50%);
    }
  }

  .talent-info {
    position: relative;
    margin-top: -22rem;

    &__title {
      margin-bottom: 0;
      color: $white;
    }
  }

  .talent-info__desc {
    margin: 0 auto;
    padding-bottom: 27.17%;
    width: calc(100% - 4em);
    max-width: 100.6em;
    background: url('../images/talent-sec1.png') no-repeat center / 100% auto;

@include clearFloat;
  }
}

.talent__sec2 {
  text-align: center;

  .talent-info {
    padding: 10em 0;
  }

  .talent-info__desc p {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 4em;

    &::before,
    &::after {
      position: absolute;
      top: -.5rem;
      width: 3.3rem;
      height: 3.2rem;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      content: '';
    }

    &::before {
      left: -7rem;
      background-image: url('../images/ico-quot-first.png');
    }
    &::after {
      right: -7rem;
      background-image: url('../images/ico-quot-last.png');
    }
  }
}

.talent__sec3 {
  margin-bottom: -12em;
  background-color: #f3f3f3;

  .talent-info {
    padding: 10em 0;

    &:nth-child(1) {
      padding-bottom: 0;
    }
  }

  .drawing-diagram {
    margin: 0 auto;
    padding-bottom: 38%;
    width: calc(100% - 4em);
    max-width: 96em;
    background: url('../images/drawing-diagram.png') no-repeat center / 100% auto;
  }

  .drawing-diagram2 {
    margin: 0 auto;
    padding-bottom: 15.4%;
    width: 100%;
    max-width: 120em;
    background: url('../images/talent-sec3.png') no-repeat center / contain;
  }
}

@include mq(tablet) {
  .talent-info__title {
    margin-bottom: 2rem;

    span:not(.talent-info__text) {
      font-size: 2.8em;
    }
  }

  .talent__sec1 {
    .talent__visual {
      height: 40em;

      p {
        top: 5em;
        max-width: 40em;
        height: 11.5em;
        background-image: url('../images/talent-sec1-text-mo.png');
      }
    }
    .talent-info {
      margin-top: -16rem;
    }
    .talent-info__desc {
      padding-bottom: 19.7em;
      max-width: 50em;
      background-image: url('../images/talent-sec1-mo.png');
    }
  }

  .talent__sec2 {
    .talent-info {
      padding: 7em 0;
    }
    .talent-info__desc p {
      font-size: 2.8em;
      &::before {
        left: -5rem;
        width: 2.8rem;
        height: 2.7rem;
      }
      &::after {
        right: -5rem;
        width: 2.8rem;
        height: 2.7rem;
      }
    }
  }

  .talent__sec3 {
    .drawing-diagram {
      padding-bottom: 39.2em;
      max-width: 67em;
      background-image: url('../images/drawing-diagram-mo.png');
    }

    .drawing-diagram2 {
      padding-bottom: 46.5em;
      max-width: 67em;
      background-image: url('../images/talent-sec3-mo.png');
    }
  }
}

@include mq(mobile) {
  .talent-info__title span:not(.talent-info__text) {
    font-size: 2.2em;
  }
  .talent-info__text {
    font-size: 1.3em;
  }

  .talent__sec1 {
    .talent__visual {
      height: 33em;
      background-image: url('../images/talent-sec1-bg-mo.jpg');

      p {
        top: 8em;
        max-width: 28.3em;
        height: 8.2em;
      }
    }
    .talent-info {
      margin-top: -10rem;
    }
    .talent-info__desc {
      padding-bottom: 14.8em;
      max-width: 37.5em;
    }
  }

  .talent__sec2 .talent-info__desc p {
    font-size: 1.6em;

    &::before {
      left: -3rem;
      width: 1.8rem;
      height: 1.7rem;
    }
    &::after {
      right: -3rem;
      width: 1.8rem;
      height: 1.7rem;
    }
  }

  .talent__sec3 {
    // margin-bottom: -8em;

    .talent-info {
      padding: 5em 0;

      &:nth-child(1) {
        padding-bottom: 0;
      }
    }

    .drawing-diagram {
      padding-bottom: 19.6em;
      max-width: 33.5em;
    }

    .drawing-diagram2 {
      padding-bottom: 23.3em;
      max-width: 33.5em;
    }
  }
}
